/* styles.css */
.container {
    width: 80%;
    margin: auto;
}

.table {
    width: 100%;
    margin-top: 20px;
}

.form-inline {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Стили для пагинации */
.pagination {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

.pagination li {
    margin: 0 3px;  /* Добавьте пробелы между элементами пагинации */
}

.pagination .active a {
    background-color: #0056b3;  /* Измените фон активной ссылки на темно-синий */
    color: #ffffff;  /* Измените цвет текста активной ссылки на белый */
    border: 3px solid #ffffff;  /* Добавьте жирную белую границу вокруг активной ссылки */
}

.pagination a {
    color: #007bff;
    font-size: 18px;  /* Увеличьте размер шрифта */
}
