{% extends 'base.html' %}

{% block content %}

<h1>{{ title }}</h1>

<div class="container">
  <h1>РУП «Белтаможсервис»</h1>
  <ul>
    <li>Дата начала деятельности – 10 июня 1999 года.</li>
    <li>Форма собственности – государственная.</li>
    <li>Организационно-правовая форма – унитарное предприятие.</li>
    <li>Учредитель Предприятия – Государственный таможенный комитет Республики Беларусь.</li>
  </ul>
  <p>Предприятие осуществляет деятельность в качестве:</p>
  <ol>
    <li>Таможенного представителя</li>
    <li>Таможенного перевозчика</li>
    <li>Уполномоченного экономического оператора 3-го типа</li>
  </ol>
  <p>Первоочередной целью создания Предприятия являлось осуществление деятельности в качестве таможенного представителя (с 1999 года), в том числе в республиканских пунктах таможенного оформления (с 2001 года).</p>
  <p>За 20 лет РУП «Белтаможсервис» приобрело репутацию надежного партнера, является крупнейшим белорусским логистическим оператором. Предприятие отвечает всем требованиям, предъявляемым к логистическим предприятиям самого высокого класса, оснащено современной техникой, благодаря которой в своей работе мы используем только новейшие информационные технологии. Предоставляем профессиональный сервис, постоянно повышая квалификацию сотрудников путем обучения и внедрения новых процессов в работе.</p>
</div>

{% endblock %}

