{% extends 'base.html' %}

{% load django_tables2 %}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'trade_logistic/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'trade_logistic/css/erip_info.css' %}">


{% block content %}
  <div class="container">
    <h2 class="mb-4">ERIP Data</h2>
    <form method="get" class="mb-4">
      {{ filter.form.as_p }}
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
    {% render_table table %}
  </div>
{% endblock %}
